@font-face {
  font-family: "gelion-light";
  src: url("/capstone/font/Gelion\ Light.ttf");
}

@font-face {
  font-family: "gelion-med";
  src: url("/capstone/font/Gelion\ Medium.ttf");
}

@font-face {
  font-family: "gelion-big";
  src: url("/capstone/font/Gelion\ Bold.ttf");
}

html {
  overflow-x: hidden;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* a {
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 400;
} */

.ownBtn {
  padding: 0 20px;
  margin-right: 20px;
  font-size: clamp(16px, 2.5vw, 21px);
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-radius: 30px;
  border-width: 2px;
  line-height: 46px;
}

/* NAVBAR */

#mainNav {
  background-color: #f7f5f3;
  padding: 10px;
  width: 100%;
}

#mainNav .navbar-brand {
  margin: 0px 0px 0px 5%;
  font-size: 40px;
  color: #344756;
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-weight: 800;
}

#mainNav .navbar-toggler {
  border: 1px solid black;
  border-width: 2px;
}

#mainNav .navbar-nav .nav-link {
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(18px, 2.5vw, 21px);
  /* font-weight: 500; */
  margin-right: 40px;
  color: #324454;
  float: left;
}

#mainNav .auth {
  display: flex;
}

#mainNav .signIn {
  color: black;
  transition: transform 0.3s ease-in-out;
}

#mainNav .signIn:hover {
  transform: scale(1.1);
}

#mainNav .signUp {
  color: rgba(255, 255, 255, 0.864);
  background-color: #3dc795;
  border: 1px solid #3dc795 !important;

  transition: transform 0.2s ease-in-out;
}

#mainNav .signUp:hover {
  transform: scale(1.1);
  background-color: #3ea07c;
}

/* LANDING PAGE */

.landing {
  background-color: #e6e4d9;
  padding: 80px 0px 80px 0px;
  margin-bottom: 20px;
}

/* .landing .title {
  text-align: 
} */

.landing .title h1 {
  font-size: clamp(60px, 8vw, 190px);
  color: #233748;
  font-family: "gelion-big", Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

.landing .title p {
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(17px, 3vw, 25px);
  color: black;
  margin-bottom: 30px;
}

.landing .title a {
  padding: 10px 20px;
  margin-right: 20px;
  font-size: clamp(21px, 3vw, 25px);
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  border-radius: 30px;
  border-width: 2px;
  line-height: 46px;
  color: rgba(255, 255, 255, 0.864);
  background-color: #3dc795;
  border: 1px solid #3dc795 !important;
  width: 25%;

  transition: transform 0.2s ease-in-out;
}

.landing .title a:hover {
  transform: scale(3);
  background-color: #3ea07c;
}

/* DISCOVER */

.discover {
  padding: 80px 0px;
}

.discover h1 {
  font-size: clamp(52px, 8vw, 80px);
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  color: #233748;
}

.discover p {
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(17px, 3vw, 22px);
  color: black;
  margin-bottom: 30px !important;
  width: 80%;
  margin: 0 auto;
}

.discover .title a {
  padding: 5px 20px;
  margin-right: 20px;
  font-family: "gelion-bold", Arial, Helvetica, sans-serif;
  font-size: clamp(17px, 2.5vw, 22px);
  color: #3dc795;
  text-decoration: none;
}

/* Main Title */

.mainTitle {
  padding-bottom: 90px;
  background-color: #e6e4d9;
}

.mainTitle .title {
  text-align: left;
  padding-top: 120px;
}

.mainTitle .title h1 {
  font-size: clamp(52px, 8vw, 80px);
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  color: #233748;
}

.mainTitle .title p {
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(17px, 3vw, 25px);
  color: black;
  margin-bottom: 30px;
}

.mainTitle .title a {
  padding: 5px 20px;
  margin-right: 20px;
  font-size: clamp(21px, 3vw, 25px);
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  border-radius: 30px;
  border-width: 2px;
  line-height: 46px;
  color: rgba(255, 255, 255, 0.864);
  background-color: #3dc795;
  border: 1px solid #3dc795 !important;
  width: 25%;
  text-decoration: none;
}

.mainTitle .titleImg {
  padding-top: 80px;
}

/* INSTRUCT */

.instruct .instructTitle {
  padding-top: 110px;
}

.instruct h1 {
  font-size: clamp(52px, 8vw, 80px);
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  color: #233748;
}

.instruct p {
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(17px, 3vw, 25px);
  color: black;
  margin-bottom: 35px;
}

.instruct a {
  width: 70%;
  margin: 0 auto;
  padding: 20px 200px;
  background-color: #233748;
  color: white;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px !important;
  display: block;
}

.instruct a:hover {
  transform: scale(1.1);
  background: #000;
}

/* ============= BMI PAGE ============ */

.bmi {
  padding: 80px 0px 25px 0px;
  overflow-x: hidden;
}

.bmi .plate {
  font-size: clamp(17px, 3vw, 25px);
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  /* margin-bottom: 35px; */
}

.bmi .bmiTitle {
  font-size: clamp(2.5rem, 4vw, 50px);
  color: #233748;
  font-family: "gelion-big", Arial, Helvetica, sans-serif;
  margin-bottom: 42px;
}

.bmi .bmiPar {
  text-align: justify;
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(17px, 3vw, 21px);
}

.bmi .bmiInput {
  margin-left: 8%;
  margin-bottom: 40px;
}

.bmi .bmiInput h3 {
  text-align: justify;
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  font-size: clamp(18px, 3vw, 25px);
}

.bmi .bmiInput input {
  width: 85%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.693);
}

.bmi .bmiBtn {
  margin-left: 8%;
}

.bmi .bmiBtn button {
  width: 40%;
  margin-right: 5%;
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  font-size: clamp(17px, 3vw, 20px);
}

.bmi .bmiBtn .calculate {
  background-color: #38c876;
  color: white;
}

.bmiResult {
  margin-left: 35%;
  margin-top: 40px;
  width: 80%;
}

.bmi #index {
  font-size: clamp(3.5rem, 5vw, 65px);

  font-family: "gelion-big", Arial, Helvetica, sans-serif;
}

.bmiResult #bmiResult {
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  font-size: clamp(17px, 3vw, 25px);
  width: 1000%;
  margin: auto;
}

/* SIGN UP */

.signup {
  padding: 80px 0px;
  width: 80%;
  margin: 0 auto;
}

.leftSignup {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/capstone/img/signup.jpg");
  background-position: center;
  background-size: cover;
}

.rightSignup {
  /* background-color: rebeccapurple; */
  padding: 15px 6% 25px 6%;
}

.signup form {
  box-shadow: 0 0 8px 5px #999;
}

.rightSignup #signupPar {
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  font-size: clamp(13px, 2.5vw, 16px);
  text-transform: uppercase;
  color: #324454;
}

.rightSignup h1 {
  font-size: clamp(2.5rem, 3.3vw, 50px);
  font-weight: 500;
  font-family: "gelion-big", Arial, Helvetica, sans-serif;
  color: #233748;
}

.rightSignup .loginTitle {
  text-align: center;
}

.rightSignup .loginTitle i {
  color: #3dc795;
  font-size: clamp(25px, 4vw, 30px);
  margin-bottom: 10px;
}

.rightSignup .loginTitle h1 {
  font-size: clamp(2.5rem, 3.5vw, 40px);
  font-weight: 400;
  font-family: "gelion-big", Arial, Helvetica, sans-serif;
  color: #3dc795;
}

.rightSignup small {
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  font-size: clamp(13px, 2.5vw, 16px);
  text-transform: uppercase;
  color: #324454;
  margin-bottom: 20px;
  display: block;
}

.signupInput {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #344756;
  color: #344756;
  padding: 7px;
  background-color: rgb(245, 236, 236);
  font-size: clamp(16px, 2.5vw, 20px);
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
}

.rightSignup .names {
  width: 50% !important;
}

.rightSignup button {
  background-color: #3dc795;
  border: 1px solid #3dc795 !important;
  color: white;
}

/* LOGIN */

.login {
  padding: 80px 0px;
  width: 80%;
  margin: 0 auto;
}

.login form {
  box-shadow: 0 0 8px 5px #999;
  /* height: 500px; */
}

.login .leftLogin {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/capstone/img/loginImg.jpg");
  background-position: center;
  background-size: cover;
}

.login .rightLogin {
  padding: 40px 10%;
}

.rightLogin .loginTitle {
  text-align: center;
  padding: 5px 0px 30px 0px;
}

.rightLogin .loginTitle i {
  color: #3dc795;
  font-size: clamp(30px, 4vw, 50px);
  margin-bottom: 10px;
}

.rightLogin .loginTitle h1 {
  font-size: clamp(2.5rem, 3.5vw, 50px);
  font-weight: 400;
  font-family: "gelion-big", Arial, Helvetica, sans-serif;
  color: #3dc795;
}

.rightLogin .loginDiv {
  display: block;
  margin-bottom: 35px;
}

.rightLogin button {
  padding: 8px;
  width: 100%;
  border: none;
  background-color: #3dc795;
  font-size: clamp(16px, 2.5vw, 21px);
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.rightLogin small {
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  font-size: clamp(13px, 2.5vw, 16px);
  text-transform: uppercase;
  color: #324454;
  margin-bottom: 20px;
  display: block;
}

/* TEAM */

.team {
  padding: 80px 0px;
}

.team .title h1 {
  font-size: clamp(2.5rem, 3vw, 4rem);
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
  color: #233748;
}

.team .title span {
  color: #3dc795;
}

.team .title p {
  width: 80%;
  margin: auto;
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(19px, 3vw, 25px);
  color: black;
  margin-bottom: 30px;
}

.team .card {
  width: 90%;
  margin: 0 auto 40px auto;
}

.team .card h2 {
  font-size: clamp(23px, 3vw, 25px);
  font-family: "gelion-bold", Arial, Helvetica, sans-serif;
  color: #3dc795;
}

.team .card-body p {
  margin-bottom: 20px;
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(15px, 3vw, 17px);
  color: black;
}

.team .card-body .learn {
  background-color: #38c876;
  color: white;
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(15px, 2vw, 17px);
  transition: all 0.3s ease-in-out;
}

.team .card-body .learn:hover {
  transform: scale(1.1);
  background-color: #3ea07c;
}

.modal-body img {
  width: 100%;
}

.modal-body h1 {
  font-size: clamp(26px, 3vw, 35px);
  font-family: "gelion-bold", Arial, Helvetica, sans-serif;
  color: #3dc795;
  margin: 20px 0px;
}

.modal-body p {
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(19px, 3vw, 21px);
  color: #324454;
}

/* RECIPES */
.recipe {
  padding: 70px 0px 20px 0px;
}

.recipe .card {
  box-shadow: 0 0 20px 5px #999;
}

.recipe .cardImg {
  width: 100%;
}

.recipe .cardImg img {
  width: 100%;
  min-height: 200px;
  max-height: auto;
}

.recipe #cardLine {
  width: 100%;
  margin: 0 100% 10px 0;
}

.recipe h3 {
  font-family: "gelion-big", Arial, Helvetica, sans-serif;
  font-size: clamp(22px, 3vw, 25px);
  color: #38c876;
}

.recipe p {
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(16px, 3vw, 18px);
  color: #324454;
  margin-bottom: 10px;
}

.recipe a {
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(13px, 3vw, 15px);
  color: #306da2;
  margin-bottom: 10px;
}

/* Create Page */

.createRecipe {
  padding: 70px 0px;
  /* position: relative; */
  background-color: #e6b8fc;
}

.recipeContainer {
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
}

.createRecipe .holder {
  padding: 15px 0px;
}

.createRecipe .holder h3 {
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  font-size: clamp(25px, 3vw, 32px);
  color: #38c876;
}

.createRecipe #newRecipe {
  margin-bottom: 20px;
}

.createRecipe #recipes {
  display: block;
}

/* Recipe Detail */

.recipeDetails {
  padding: 70px 0px 34px 0px;
}

.recipeDetails .header h1 {
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  font-size: clamp(33px, 3vw, 40px);
  color: #38c876;
}

.recipeDetails .header p {
  width: 70%;

  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(16px, 3vw, 18px);
  color: #324454;
}

.recipeDetails .box {
  padding: 10px;
  border: 1px solid black;
}

.recipefoot a {
  font-family: "gelion-light", Arial, Helvetica, sans-serif;
  font-size: clamp(16px, 3vw, 18px);
  color: #3c81bd;
  margin-top: 15px;
}

.recipeDtlBtn button {
  width: 80%;
  margin-right: 5%;
  font-family: "gelion-med", Arial, Helvetica, sans-serif;
  font-size: clamp(17px, 3vw, 20px);
  color: #f7f5f3;
}
@media only screen and (min-width: 320px) and (max-width: 990px) {
  #mainNav .navbar-nav {
    margin-left: 5% !important;
  }

  #mainNav .auth {
    margin-left: 5% !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .signup .leftSignup {
    display: none;
  }
}
